*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg.jpg);
}

.nav{
   display: flex;
   justify-content: space-between;
   margin: 0 45px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding:  20px ;
    text-decoration: none;
    color: #333;
    display: inline-block;
}

.nav-right ul li a{
   margin-left: 30px;
}

.img{
    /* padding-right: 50px; */
    margin-left: 100px;
    width:88%;
    height:500px;
    /* object-fit:cover; */
}

.heading{
    position: absolute;
    top: 50%;
    right: 50%;
    left: 15%;
    top: 30%;
    color: white;
}

.sub-heading{
    position: absolute;
    top: 50%;
    left: 15%;
    right: 50%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.location{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 80%;
    left: 30%;
}

.brand{
    display: flex;
    justify-content: center;
}

.car-brand{
    display: flex;
    justify-content: space-evenly;
}

.explore{
    margin: 0 100px;
}

.arrows{
    /* display: flex;
    justify-content: space-between; */
    font-size: 50px;
    margin: -50px 578px;
}

.head-left{
    display: flex;
    justify-content: space-between;
    margin: 0 52px;
}

.sub-left{
    margin: 0 52rem 0 0;
    
}

.price{ 
    font-weight: 500;
}

.card{
    transition: 1s;
}

.card:hover{
   transform: scale(1.1);
}